
pgadmin.env
kong.env
postgres.env
posapi.env
tinyauth.env
syncagent.env
run.bat
docker-pos-update.bat


print-agent-macos
print-agent-windows.exe
print-agent-linux

run-hidden.ps1
setup-task.ps1

config.json


